:root {
    /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(135deg, #3ab394 10%, #138d6f 100%);

    /* 图标背景 */
    --vp-home-hero-image-background-image: linear-gradient(135deg , #5fcba9 10%,#138d73 100%);
    --vp-home-hero-image-filter: blur(150px);

    /* brand按钮 */
    --vp-button-brand-border: #5fcba9;
    --vp-button-brand-text: #fff;
    --vp-button-brand-bg: #138d73;

    --vp-button-brand-hover-border: #a0d5c4;
    --vp-button-brand-hover-text:  #fff;
    --vp-button-brand-hover-bg:  #247b60;
    
    --vp-button-brand-active-border: #F6CEEC;
}